  h1{
    text-align: center;
    font-size: 60px !important;
    font-family: 'Caesar Dressing' !important;
  }
p {
	text-align: center;
}
#cont-all {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background-color: #adb1ff;
	padding-top: 50px;
	margin-top: -10px;
}
.center-text {
	margin-left: auto;
	margin-right: auto;
	width: 338px;
}
.marg-top {
	margin-top: 25px;
}
  body{
    background-color: #6c96ff !important;
  }
  .headers{
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

#searchResults {
	font-family:"Courier New", Courier, monospace !important;
	font-size: 20px !important;
}
.instructions {
	font-family: "Comic Sans MS", cursive, sans-serif !important;
	font-size: 17px;
}